*.gem
*.rbc
.bundle
.config
.vagrant
.librarian
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log/*.log
cookbooks

.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/
